* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
body{
  background-color: #191D2B;
}
html {
  /* font-size: 62.5%; */
  color: white;
}
#home_nav {
  position: relative;
  background-color: #2A2E35;
  padding: 17px 17px;
}
#home_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home_nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
#home_nav a {
  font-size: 20px;
  text-decoration: none;
}
#home_nav ul a {
  color:#9FA7B2;
  font-weight: bolder;
}
#home_nav ul a:hover {
  font-size:22px;
  color:white;
}
h1 {
  font-size: 4rem;
}
#ham-menu {
  display: none;
}
#home_nav ul.active {
  left: 0;
}
#replace{
  /* height: ; */
  /* width: 100%; */
  display:flex;
}
.containers{
  width: 55%;
  height:630px;
  /* background-color:wheat; */
}

.container_a{
margin-top:70px;
margin-left:30px;
}
#hi{
font-weight:bolder;
font-size: 34px;
}
#logo{
color:#27AE60;
}
#title{
font-weight:bolder;
font-size:25px;
}
.text{
width: 700px;
height: 98px;
margin-top:32px;
font-weight:800px;
font-size:20px;
}
.descript{
width:443px;
height:240px;
}
.descript_a>i{
width:16.5px;
height:22px;
margin-left:10px;
color:#27AE60;
} 
#icon_content{
  font-weight: bolder;
  font-size: 20px;
  padding-left:6px 3px;
}
#cv{
  width: 443px;
  height:100px;
  background-color: #2A2E35;
  border-radius:8px;
  margin-top: 22px;
}
#my_cv{
  padding:6px 0px;
  font-weight: bolder;
  font-size:23px;
  display:flex;
  justify-content: center;
}
#downlod_button{
  color:#27AE60;
  font-weight:bolder;
  font-size:20px;
  padding: 7px 10px;
  border:2px solid #27AE60;
  background-color:#2A2A2A;
  border-radius:10px;
  margin-right:30px;
}
#downlod_button:hover{
  color:white;
  padding:10px 12px;
  background-color: #27AE60;
}
.center{
  display:flex;
  justify-content:center;
}
.container_b{
  width: 40%;
  height: 630px;
}
.terminal{
  margin-top: 125px;
  border-radius:20px;
  width: 500px;
  height: 370px;
  background-color: #202020;
}
#para{
  height:auto;
  /* width:100%; */
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  background-color: #2A2A2A;
  padding: 12px;
  font-size: 20px;
  font-weight: bolder;
  display:flex;
}
.fa-xmark{
  margin-left:180px;
  color: #27AE60;
  font-weight: bolder;
}
.fa-xmark:hover{
  font-size:22px;
  color:red;
}
.container_c{
  width:5%;
  height: 630px;
 margin-top: 220px;
}
.container_c>ul>li{
  list-style:none;
  font-size:40px;
  color:#27AE60;
  font-weight:bolder;
}
.container_c>ul>li:hover{
  font-size:50px;
  color:#b3f0cc
}
.static{
font-size:15px;
}
.cm1{
  display:flex;
}
.command>input{
  color:#27AE60;
  background-color: #202020;
  border:none;
  font-size:20px;
  font-weight:500;
}
input:focus,input:active{
  outline:none
}
.absolute{
  width:90%;
  height:2px;
  background-color:#D9D9D9;
  position: absolute;
  bottom:30px;
  left:50px;
}
#logo_color{
  font-size: 27px;
  color:white;
  font-weight:bolder;
 }
 #home{
  height:100vh;
  /* background-color: #238A53; */
 }
 /* ===========================end of home section====================================== */
 /* ++++++++++++++++++++++++++++about section+++++++++++++++++++++++++++++++++++++++++++ */
 #about{
  width:100%;
  height:605px;
  /* height:auto; */
  /* background:brown; */
 }
.about_cont{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows: 0.2fr 1fr 0.1fr;
  /* grid-gap:1em; */
  height:100vh;
  grid-template-areas: "nav nav nav nav"
                       "content2 content2 content3 content3"
                       "footer footer footer footer";
  grid-gap: 1em;
}
.about_cont > #about_nav{
  grid-area:nav;
  /* background: green; */
  display:grid;
  align-items: center;
  font-size:45px;
  font-weight:bolder;
  color:#C4CFDE;
  position: relative;
  text-align: center;
}
.about_cont > #about_nav > .line{
  width:10%;
  height:2px;
  background-color: #238A53;
  position: absolute;
  top: 70%;
  left: 45%;
  /* transform: translate(-50%, -50%); */

}
.about_image{
  text-align: center;
  grid-area:content2;
  /* background: dodgerblue; */
  display:grid;
  align-items: center;
}
.about_content{
  grid-area:content3;
  /* background: darkgoldenrod; */
}
.abouts > img{
  border-radius: 20px;
  border-top: 2px solid white;
  border-right: 2px solid white;
}
.about_cont > .footer{
  grid-area:footer;
  /* background: darkkhaki; */
}
.cont1{
  text-align: center;
 /* background-color: magenta; */
 padding: 20px 0px;
}
.cont2{
  /* background-color: burlywood; */
}
.cont2 > p{
  padding: 0px 15px;
  font-size:20px;
}
.cont3{
  /* background-color: blueviolet; */
  padding: 20px 40px;
}
.cont3 > p{
  padding-top:5px;
}
.cont3 > p > #name{
  font-size:22px;
  font-weight:bolder;
  color:#9FA7B2;
}
.cont3 > p > #name > #underline{
  border-bottom:2px solid #27AE60;
}
#response{
  font-size:20px;
  font-weight:bolder;
}
.cont4{
  /* background-color: greenyellow */
}
.cont4 > button{
  border:none;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: #27AE60;
  color:white;
  font-size: 25px;
  font-weight: bolder;
  margin:20px 20px;
}
.cont4 > button:hover{
  background-color: #128141;
  color:rgb(194, 159, 159);
}
.footer{
position:relative;
}
.hr{
  position: absolute;
  top:50%;
  left:5%;
  width:90%;
  height:2px;
  background-color:#D9D9D9;
  /* background-color:green; */
  border:none;
}






