* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
body{
  background-color: #191D2B;
}
html {
  /* font-size: 62.5%; */
  color: white;
}
#home_nav {
  position: relative;
  background-color: #2A2E35;
  padding: 17px 17px;
}
#home_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home_nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
#home_nav a {
  font-size: 20px;
  text-decoration: none;
}
#home_nav ul a {
  color:#9FA7B2;
  font-weight: bolder;
}
#home_nav ul a:hover {
  /* font-size:21px; */
  color:white;
}
h1 {
  font-size: 4rem;
}
#ham-menu {
  display: none;
}
#home_nav ul.active {
  left: 0;
}
#replace{
  /* height: ; */
  /* width: 100%; */
  display:flex;
}
.containers{
  width: 55%;
  height:630px;
  /* background-color:wheat; */
}

.container_a{
margin-top:70px;
margin-left:30px;
}
#hi{
font-weight:bolder;
font-size: 34px;
}
#logo{
color:#27AE60;
}
#title{
font-weight:bolder;
font-size:25px;
}
.text{
width: 700px;
height: 98px;
margin-top:32px;
font-weight:800px;
font-size:20px;
}
.descript{
width:443px;
height:240px;
}
.descript_a>i{
width:16.5px;
height:22px;
margin-left:10px;
color:#27AE60;
} 
#icon_content{
  font-weight: bolder;
  font-size: 20px;
  padding-left:6px 3px;
}
#cv{
  width: 443px;
  height:100px;
  background-color: #2A2E35;
  border-radius:8px;
  margin-top: 22px;
}
#my_cv{
  padding:6px 0px;
  font-weight: bolder;
  font-size:23px;
  display:flex;
  justify-content: center;
}
#downlod_button{
  color:#27AE60;
  font-weight:bolder;
  font-size:20px;
  padding: 7px 10px;
  border:2px solid #27AE60;
  background-color:#2A2A2A;
  border-radius:10px;
  margin-right:30px;
}
#downlod_button:hover{
  color:white;
  padding:10px 12px;
  background-color: #27AE60;
}
.center{
  display:flex;
  justify-content:center;
}
.container_b{
  width: 40%;
  height: 630px;
}
.terminal{
  margin-top: 125px;
  border-radius:20px;
  width: 500px;
  height: 370px;
  background-color: #202020;
}
#para{
  height:auto;
  /* width:100%; */
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  background-color: #2A2A2A;
  padding: 12px;
  font-size: 20px;
  font-weight: bolder;
  display:flex;
}
.fa-xmark{
  margin-left:180px;
  color: #27AE60;
  font-weight: bolder;
}
.fa-xmark:hover{
  font-size:22px;
  color:red;
}
.container_c{
  width:5%;
  height: 630px;
 margin-top: 220px;
}
.container_c>ul>li{
  list-style:none;
  font-size:40px;
  color:#27AE60;
  font-weight:bolder;
}
.container_c>ul>li:hover{
  font-size:50px;
  color:#b3f0cc
}
.static{
font-size:15px;
}
.cm1{
  display:flex;
}
.command>input{
  color:#27AE60;
  background-color: #202020;
  border:none;
  font-size:20px;
  font-weight:500;
}
input,textarea{
  padding-left:5px;
}
input:focus,input:active,textarea:active,textarea:focus{
  outline:none
}
.absolute{
  width:90%;
  height:2px;
  background-color:#D9D9D9;
  position: absolute;
  bottom:30px;
  left:50px;
}
#logo_color{
  font-size: 27px;
  color:white;
  font-weight:bolder;
 }
 #home{
  height:100vh;
  /* background-color: #238A53; */
 }
 #scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  font-size:50px;
  font-weight:bolder;
  color:#27AE60;
  /* background-color: #238A53; */
  z-index: 10;
  display: none;
}
 /* ===========================end of home section====================================== */
 /* ++++++++++++++++++++++++++++about section+++++++++++++++++++++++++++++++++++++++++++ */
 #about{
  width:100%;
  height:100vh;

  /* height:auto; */
  /* background:green; */
 }
.about_cont{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows: 0.2fr 1fr 0.1fr;
  /* grid-gap:1em; */
  height:100vh;
  grid-template-areas: "nav nav nav nav"
                       "content2 content2 content3 content3"
                       "footer footer footer footer";
  grid-gap: 1em;
}
#about_nav{
  grid-area:nav;
  /* background: green; */
  display:grid;
  align-items: center;
  font-size:45px;
  font-weight:bolder;
  color:#C4CFDE;
  position: relative;
  text-align: center;
}
#about_nav > .line{
  width:10%;
  height:2px;
  background-color: #238A53;
  position: absolute;
  top: 70%;
  left: 45%;
  /* transform: translate(-50%, -50%); */

}
.about_image{
  text-align: center;
  grid-area:content2;
  /* background: dodgerblue; */
  display:grid;
  align-items: center;
}
.about_content{
  grid-area:content3;
  /* background: darkgoldenrod; */
}
.abouts > img{
  border-radius: 20px;
  border-top: 2px solid white;
  border-right: 2px solid white;
}
.about_cont > .footer{
  grid-area:footer;
  /* background: darkkhaki; */
}
.cont1{
  text-align: center;
 /* background-color: magenta; */
 padding: 20px 0px;
}
.cont2{
  /* background-color: burlywood; */
}
.cont2 > p{
  padding: 0px 15px;
  font-size:20px;
}
.cont3{
  /* background-color: blueviolet; */
  padding: 20px 40px;
}
.cont3 > p{
  padding-top:5px;
}
.cont3 > p > #name{
  font-size:22px;
  font-weight:bolder;
  color:#9FA7B2;
}
.cont3 > p > #name > #underline{
  border-bottom:2px solid #27AE60;
}
#response{
  font-size:20px;
  font-weight:bolder;
}
.cont4 > button{
  border:none;
  border-radius: 10px;
  padding: 10px 10px;
  background-color: #27AE60;
  color:white;
  font-size: 25px;
  font-weight: bolder;
  margin:20px 20px;
}
.cont4 > button:hover{
  background-color: #128141;
  color:rgb(194, 159, 159);
}
.footer{
position:relative;
/* padding-bottom: 20%; */
}
.hr{
  position: absolute;
  top:50%;
  left:5%;
  width:90%;
  height:2px;
  background-color:#D9D9D9;
  /* background-color:green; */
  border:none;
}
/* ==========================================end of about section================================== */
/* +++++++++++++++++++++++++++++++++++++skills section+++++++++++++++++++++++++++++++++++++++++++++ */
#skills{
  height:100vh;
  width:100%;
  /* background-color:brown; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:0.2fr 1fr 0.1fr;
  grid-template-areas:"skills_nav skills_nav skills_nav skills_nav"
                      "skills_content skills_content skills_content skills_content"
                      "skills_footer skills_footer skills_footer skills_footer";
}
.skills_nav{
  /* background-color:hotpink; */
  grid-area:skills_nav;
  text-align:center;
  /* display: grid; */
  /* align-self: flex-end; */
  /* position:relative; */
  display: flex;
  justify-content: center;

}
.skills_nav > p{
  align-self: center;
  /* background-color: green; */
  font-size:45px;
  font-weight:bolder;
  color:#C4CFDE;
}
/* .skills_line{
  position:absolute; */
  /* top:80%; */
  /* left:44%;
  width:12%;
  height:2px; */
  /* background-color:#27AE60; */
/* } */
.skills_content{
  /* background-color: peru; */
  grid-area:skills_content;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  padding: 5% 3%;
}
.skills_content > div{
  background-color: #2A2E35;
}
.skill {
  width:300px;
  height:155px;
  /* border: 2px solid white; */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content:center;
}
/* .skills_content > div:nth-child(odd){
  background-color: coral;
} */
.skills_footer{
  /* background-color:blueviolet; */
  grid-area:skills_footer;
  text-align:center;
  display:grid;
  align-items: center;
}
.skills_footer > p{
  margin-left:4.5%;
  width:90%;
  height:2px;
  background-color: #C4CFDE;
}
/* =========================================end of skill section================================ */
/* +++++++++++++++++++++++++++++++++++++++++++++portfolio section+++++++++++++++++++++++++++++++ */
#portfolio{
  height: 100vh;
  width:100%;
  /* background-color: brown; */
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows:0.1fr 1fr 0.02fr;
  grid-template-areas: "port_nav port_nav port_nav port_nav"
                       "port_content port_content port_content port_content"
                       "port_footer port_footer port_footer port_footer";
 
}
.port_nav{
  text-align:center;
  /* background-color: hotpink; */
  grid-area: port_nav;
}
.port_content{
  /* background-color:grey; */
  grid-area:port_content;
  display: grid;
  grid-template-columns:repeat(3,1fr);
  margin:0px 0px 0px 35px;
}
.box{
  width:400px;
  border-radius:20px;
  padding-top: 5px;
  margin-top:8px;
  display:grid;
  justify-content: center;
  background-color: #2A2E35;
  /* border-radius: 20px; */
}
.image > img{
  width:360px;
  height: 177px;
}
.image{
  width:360px;
  height: 177px;
  /* background-color: burlywood; */
  /* border-radius: 20px; */
}
#store > p{
  font-size: 10px;
  font-weight: bolder;
  color:#FF4D05;
}
#store {
  display:grid;
  grid-template-columns: 1fr 1fr;
}
#heart{
  display:flex;
  justify-content: end;
  font-weight:bolder;
  color:white;
  font-size: 15px;
}
#heart > i{
  color:#C4CFDE;
}
#portfolio_cont{
  color:#C4CFDE;
  font-size:28px;
  font-weight:bolder;
}
/* .box:nth-child(odd){
background-color: khaki;
} */
.port_footer{
  /* background-color:blueviolet; */
  grid-area:port_footer;
  text-align:center;
  display:grid;
  align-items: center;
}
.port_footer > p{
  margin-left:4.5%;
  width:90%;
  height:2px;
  background-color: #C4CFDE;
}
/* ================================================end of portfolio======================================= */
/* ++++++++++++++++++++++++++++++++++++++++++++start of my blog page++++++++++++++++++++++++++++++++++++++ */
#blogs{
  height:100vh;
  width:100%;
  background-color: brown;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas:"blog_nav blog_nav blog_nav"
                      "blog_cont blog_cont blog_cont"
                      "blog_footer blog_footer blog_footer";
  grid-template-rows:0.2fr 1fr 0.1fr; 
}
  
.blog_nav{
  background-color: khaki;
  grid-area: blog_nav;
  /* display: grid; */
  display: flex;
  justify-content: center;

}
.blogs_nav{
  align-self: flex-end;
  background-color:hotpink;
  grid-area:skills_nav;
  text-align:center;
  /* display: grid; */
  /* align-self: flex-end; */
  position:relative;

}

.blogs_nav > p{

  font-size:45px;
  font-weight:bolder;
  color:#C4CFDE;
}

.blog_image{
  background-color: rgb(27, 41, 6);
  grid-area:blog_image;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.blog_image > div > img{
  width:300px;
  height:200px;
}

#blog_logo{
  color:#27AE60;
  font-size: 15px;
  font-weight:bolder;
}

.blog_content{
  background-color: darkolivegreen;
  grid-area:blog_cont;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image_blog image_blog" 
                        "blog_btn blog_btn";
  grid-template-rows: 1fr 0.1fr;
}
.blog_image{
  margin-top: 3%;
  background-color: #FF4D05;
  grid-area:image_blog;
  display: grid;
  grid-template-columns:repeat(3,1fr);
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
}
.image1{
  background-color: rgb(59, 18, 18);
  display:flex;
  justify-content: center;
}
.imaged{

  width:340px;
  height:355px;
  background-color:#2A2E35;
  border-radius: 20px;
  border-top-right-radius:30px;
  border-top-left-radius:30px;
}
.image2{
  background-color:wheat;
  display:flex;
  justify-content: center;
}
.image3{
  background-color:aqua;
  display:flex;
  justify-content: center;
}
#blog_text{
  font-size:20px;
  font-weight:500;
  color:#E1E1E1;
  padding: 20px 0px;
}
#blog_btn{
  background-color: transparent;
  border:2px solid #27AE60;
  color:#27AE60;
  font-weight:bolder;
  padding:10px 20px;
  border-radius: 10px;
}
.blog_button{
  background-color:#238A53;
  grid-area:blog_btn;
  display: flex;
  justify-content: center;
}
.blog_button > button{
  font-size:20px;
  font-weight:bolder;
  color:white;
  background: #27AE60;
  border:none;
  border-radius:10px;
width:150px;
height:40px;
}

.blog_footer{
  background-color:olivedrab;
  grid-area:blog_footer;
  text-align:center;
  display:grid;
  align-items: center;
}
.blog_footer > p{
  margin-left:4.5%;
  width:90%;
  height:2px;
  background-color: #C4CFDE;
}
/* ==================================end of blog content============================================= */
#contact{
  height:100vh;
  width:100%;
  background-color:brown;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas:"contact_nav contact_nav contact_nav"
                      "contact_content contact_content contact_content"
                      "contact_footer contact_footer contact_footer";
  grid-template-rows: 0.2fr 1fr 0.1fr;
}
.contact_nav{
  background-color:darkcyan;
  grid-area: contact_nav;
  display: flex;
  justify-content: center;
}
.contact_content{
  background-color:#2A2E35;
  grid-area:contact_content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "getin contactform"
                       "getin contactform";
}
.get_in{
  background-color: coral;
  grid-area:getin;
  display: flex;
  justify-content: center;
  align-items:center;
}
.get_container{
  background-color:gray;
  width:60%;
  height:75%;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-areas:"get_tittle get_tittle get_tittle get_tittle"
                      "get_address get_address get_address get_space"
                      "get_address get_address get_address get_space";
  grid-template-rows: 1fr 1fr 1fr ;
}                     
.get_title{
  background-color:darkgoldenrod;
  grid-area:get_tittle;
}
#get_text{
  padding: 8px 0px;
}
#get_sub{
  text-align: center;
  font-size: 25px;
  color:#E1E1E1;
  font-weight:bold;
}
.get_address{
  text-align: center;
  background-color:#191D2B;
  grid-area: get_address;
}
#address_tit{
  font-size: 22px;
  font-weight: bolder;
  color:white;
}
#address_subtit{
  font-size:19px;
  color:#CDCDCE;
  padding-bottom:10px;
}
.follow_cont > i{
  font-size: 20px;
  color: #27AE60;
  font-weight:bolder;
  padding:10px 4px;
}

.get_space{
  background-color:slateblue;
  grid-area:get_space;
}
.contactform{
  background-color: cornflowerblue;
  grid-area:contactform;
  display:flex;
 justify-content: center;
 align-items: center;
}
.git{
  width:487px;
  height:310px;
}
.git > div{
  padding: 5px 0px;
}
.hold_names{
  display:flex;
}
.form_container{
  width:554px;
  height:350px;
  background:#2A2E35;
  border-radius:20px;
display:flex;
justify-content: center;
align-items: center;

}                    
input,textarea{
  font-size: 25px;
  font-weight:300;
  color:#C4CFDE;
  background-color: #191D2B;
}
#first_name > input{
  width:200px;
  height:35px;
  border:none;
  border-radius: 10px;
}
#second_name > input{
  margin-left:5px;
  width:268px;
  height:35px;
  border:none;
  border-radius: 10px;
}
#email > input{
width: 478px;
height: 35px;
border: none;
border-radius:10px;
}
#message > textarea{
  width:478px;
  height:168px;
  background-color: #191D2B;
  border:none;
  border-radius: 10px;
}
#thisis{
  grid-area:button;
  display: flex;
  justify-content: center;
}
#thisis > button{
  color: #27AE60;
  border:2px solid #27AE60;
  width: 145px;
  height:35px;
  background-color: transparent;
  border-radius: 10px;
  font-size:17px;
  font-weight:600;
}
.contact_footer{
  background-color:forestgreen;
  grid-area:contact_footer;
}

.contact_footer{
  background-color:olivedrab;
  grid-area:contact_footer;
  text-align:center;
  display:grid;
  align-items: center;
}
.contact_footer > p{
  margin-left:4.5%;
  width:90%;
  height:2px;
  background-color: #C4CFDE;
}

/* ==============================end of contact page===================================== */
#login{
  height:100vh;
  width:100%;
  background-color: salmon;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "login_nav login_nav "
                       "login_content login_content"
                       "login_footer login_footer";
  grid-template-rows: 0.1fr 1fr 0.1fr;
}
.login_nav{
  background-color: slateblue;
  grid-area:login_nav;
}
.login_content{
  background-color:saddlebrown;
  grid-area:login_content;
  display:flex;
  align-items: center;
  justify-content:center;
}
.login_footer{
background-color: #2A2E35;
grid-area:login_footer;
font-size: 30px;
color:#CDCDCE;
text-align: center;
padding: 2px 0px;
}
#login_footer > i{
  color: #27AE60;
  padding: 4px 4px;
}
.login_form{
  width:554px;
  height:350px;
  background-color:#2A2E35;
  border-radius:20px;
  display:flex;
  align-items:center;
  justify-content: center;
}
.login_form_cont{
  display:flex;
  align-items: center;
  flex-direction: column;
  width:420px;
  height:300px;
  /* background-color: fuchsia; */
}
.login_form_cont > input{
  border:none;
  width:409px;
  height:35px;
  background-color: #191D2B;
  /* border: 2px solid green; */
  border-radius:10px;
  padding-left: 7px;
  margin-bottom: 7px;
}
.login_form_cont > i{
 font-size:60px;
 padding: 10px;
 color: #9FA7B2;
}
.login_form_cont > button{
  border-radius: 5px;
  width:130px;
  height:35px;
  color: #27AE60;
  font-size: 15px;
  font-weight: bold;
  border:2px solid #27AE60;
  background-color: transparent;
  margin: 10px 0px;
}
.login_form_cont > button:hover{
  color: white;
  background-color: #27AE60;
}
#anchor > a{
  font-size: 18px;
  text-decoration: none;
  color:#CDCDCE;
}
/* =================================================end of login page============================ */
