*{
    padding:0;
    margin:0;
}
body{
    background-color: #191D2B;
  }
  html {
    /* font-size: 62.5%; */
    color: white;
  }
#readmore{
    height:100vh;
    width:100%;
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr;
    grid-template-areas:"readmore_nav readmore_content readmore_more"
                        "readmore_nav readmore_content readmore_more"
                        "readmore_nav readmore_content readmore_more"
                        "readmore_footer readmore_footer readmore_footer";
    grid-template-rows:1fr 1fr 1fr 0.03fr;

}
.readmore_more{
    grid-area:readmore_more;
    background-color: yellow;
}
.readmore_nav{
    grid-area:readmore_nav;
    background-color: darkgoldenrod;
    margin:10px;
}
.readmore_content{
    grid-area:readmore_content;
    background-color: slateblue;
    display: flex;
    justify-content:center;
    align-items:center;
}
.readmore_content_container{
   width:98%;
   height:99%;
   background:#22252A; 
   border-radius:20px;
   border:2px solid #27AE60;
}
.readmore_content_container > img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100%;
}
.readmore_content_container > div{
    margin: 10px 10px 2px 10px;
}
.readmore_content_container > button{
    color:#27AE60;
    margin-left: 100px;
    font-size:22px;
    border-radius:10px;
    font-weight:bolder;
    width:109px;
    height:35px;
    background-color:transparent;
    border:2px solid #27AE60;
}
#readmore_thumb{
    color:#27AE60;
    font-size: 20px;
    float: right;
    padding: 3px 0px;
}
.readmore_content_container > button:hover{
background-color:#27AE60;
 color:white;
}
.readmore_footer{
    grid-area:readmore_footer;
    background-color: green;
    display:flex;
    justify-content: center;
}
.readmore_content_container > div > p{
   font-size: 20px;
   color:#E1E1E1;
}
.readmore_content_container > div > textarea{
    width:434px;
    height:87px;
    border:none;
    border-radius:10px;
 }
#doit{
    color:white;
    font-size: 22px;
}
.readmore_nav > a{
    color: #27AE60;
    font-size: 40px;
}
.hrwe{
    width:95%;
    height:5px;
    background-color:black;
    border:none;
  }
.coment{
    display:flex;
    color:#27AE60;
    margin:25px 0px 5px 0px;
}
.coment > #coment_name{
    width:146px;
    height:35px;
    border: none;
    background-color:#191D2B;
    border-radius:10px;
}
.coment > #coment_email{
    width:275px;
    height:35px;
    margin-left: 5px;
    border: none;
    background-color:#191D2B;
    border-radius:10px;
}
.coment > input{
    font-size:20px;
    color:#D9D9D9;
    padding-left:7px;
}
.readmore_more{
    background-color: #191D2B;
    background-color: #192b1c;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:"more_title more_title more_title more_title"
                        "more_image1 more_image1 more_image1 more_image1"
                        "more_image2 more_image2 more_image2 more_image2"
                        "more_image3 more_image3 more_image3 more_image3";
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
}
.more_title{
    color:#27AE60;
    font-size:25px;
    padding: 10px 0px;
    grid-area: more_title;
}
.more_image1,.more_image2,.more_image3{
    /* background-color: saddlebrown; */
    grid-area:more_image1;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "imagef imagef contentf contentf"
                        "imagef imagef contentf contentf"
                        "footerf footerf footerf footerf";
 grid-template-rows: 1fr 1fr 0.2fr;                      
}
.imagef{
    grid-area:imagef;
    /* background-color:forestgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentf{
    grid-area:contentf;
    /* background-color:brown; */
    margin: 10px;
}
#button{
display:flex;
justify-content: center;
}
.contentf > #button > button{
    font-size: 20px;
    font-weight: bolder;
    color: #27AE60;
    border: none;
    background-color:transparent;
}
.footerf{
    grid-area: footerf;
    /* background-color: hotpink; */
    display: flex;
    justify-content: center;
}
.fline{
    width:60%;
    height:4px;
    background-color: #27AE60;
}
.contentf > #p{
    font-size:25px;
    font-weight:bolder;
    color:white;
}
.contentf > #pp{
    font-size:20px;
    color:#E1E1E1;
}
/* .contentf > p{
    padding:30px;
} */


.more_image2{
    /* background-color:aqua; */
    grid-area: more_image2;
}
.more_image3{
    /* background-color:khaki; */
    grid-area:more_image3;
}


/* ==================================dashboard================================= +++++++++++++++++++++++++++++*/
#dashboard{
    background-color: #191D2B;
    width:100%;
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "dash_header dash_header dash_header dash_header"
                         "dash_side dash_content dash_content dash_content"
                         "dash_side dash_content dash_content dash_content"
                         "dash_footer dash_footer dash_footer dash_footer";
    grid-template-rows: 0.2fr 1fr 1fr 0.1fr;
}
.dash_header{
    grid-area: dash_header;
    display: flex;
    align-items: center;
}
.fa-circle-left{
    margin-left: 10px;
    font-size: 40px;
    color: #27AE60;
}
#peso > a{
    display: none;
}
 #peso{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    color:#CDCDCE;
    font-weight: bolder;
}



.dash_content{
    grid-area:dash_content;
    /* background-color: greenyellow; */
    display: grid;
    grid-template-rows: 0.2fr 1fr;
}
.dash_side{
    grid-area:dash_side;
    display: flex;
    align-items: center;
}
.side_cont{
    width: 90%;
    height:70%;
    background-color: #313236;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
}
.a{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
}
.ad{
    width:90%;
}
.side_cont_inside > p{
    font-size: 35px;
    font-weight:bolder;
    padding: 10px 0px 10px 20px;
}
#active > a{
    font-weight:bolder;
    color: #27AE60;
}
.fa-gauge ,.fa-ellipsis,.fa-list-check{
    font-size:45px;
    color: #27AE60;
}

.dash_footer{
    grid-area:dash_footer;
    display:flex;
    justify-content: center;
}
.dash_footer > .line{
    width:90%;
    height:2px;
    background-color: #CDCDCE;
}
.content_dash{
    display: grid;
    grid-template-columns: 1fr 0.6fr;
}
.div1,.div2{
    border-radius:10px;
}
.div1{
    background-color: #313236;
}
.div2{
    background-color: #313236;
}
#cont_dash{
font-size: 35px;
color:#898B91;
font-weight:bolder;
padding: 10px;
}
#white{
    color:white;
}
.content_dash > #pro{
    color:#27AE60;
    font-size: 30px;
    padding: 15px;
    font-weight:bolder;
}
#recent_comments{
    width: 100%;
    font-size: 20px;
    background-color: #313236;
    border-radius: 10px;
    padding: 20px 0px;
    margin: 5px 0px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}
/* =================================================add blog======================================== */
#add_blog{
    width:100%;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:"add_nav add_content add_content add_content"
                        "add_space add_content add_content add_content"
                        "add_space add_content add_content add_content"
                        "add_footer add_footer add_footer add_footer";
    grid-template-rows: 0.2fr 1fr 1fr 0.1fr;
}
.add_nav{
    grid-area:add_nav;
    display: flex;
    align-items: center;
}
.add_content{
    grid-area:add_content;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"img1 img2 img3"
                        "img4 img5 img6";
    grid-template-rows: 1fr 1fr;
}
.manage{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagew{
    width: 90%;
    height:92%;
    background-color: #2A2E35;
    border:none;
    border-radius:20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "imgcont imgcont"
                         "imgcont12 imgcont12"
                         "imgcont13 imgcont13";
     grid-template-rows: 4fr 0.8fr 1.2fr;
}
.imgcont{
    grid-area: imgcont;
    border-radius: 20px;
}
.imgcont > img{
    width:100%;
    height: 100%;
}
.imgcont12{
    grid-area: imgcont12;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgcont12 > p{
  font-size: 20px;
}
.imgcont13{
    grid-area: imgcont13;
    display: flex;
    justify-content: center;
}
.imagew > img{
    width: 100%;
}
.image1{
    grid-area: img1;
}
.imgcont13 > p{
    font-size: 35px;
    color:#298F55;
}
.fa-trash-can{
    color:red;
}
.image2{
    grid-area: img2;
}
.image3{
    /* background-color: saddlebrown; */
    grid-area: img3;
}
.image4{
    /* background-color: salmon; */
    grid-area: img4;
}
.image5{
    /* background-color: aqua; */
    grid-area: img5;
}
.image6{
    /* background-color: rgb(11, 19, 4); */
    grid-area: img6;
}
.add_side{
    /* background-color:forestgreen; */
    grid-area:add_space;
    display: flex;
    align-items: center;
}
.add_footer{
    /* background-color:rebeccapurple; */
    grid-area:add_footer;
    display: flex;
    justify-content: center;
}
.add_footer > .line{
    width:90%;
    height:2px;
    background-color: #CDCDCE;
}

/* ===========================add blog section========================================== */
#addsblog{
    width:100%;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-areas:"adds_nav adds_nav adds_nav adds_nav"
                    "adds_side adds_content adds_content adds_content"
                    "adds_side adds_content adds_content adds_content"
                    "adds_footer adds_footer adds_footer adds_footer";
grid-template-rows:0.2fr 1fr 1fr 0.1fr;

}
.adds_nav{
    grid-area:adds_nav;
    display:flex;
    align-items: center;
}
.responsive_dash_nav{
background-color: #313236;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;
padding: 4px 0px;
border-radius: 10px;
margin:0px 2px;
display: none;

}
.responsive_dash_nav{
    font-size: 20px;
    font-weight: bolder;
}
.adds_space{
    grid-area:adds_side;
    display:flex;
    align-items: center;
}
.adds_content{
    grid-area:adds_content;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:"holder_title holder_title holder_title holder_title"
                        "holder_content holder_content holder_content holder_content";
    grid-template-rows: 0.15fr 1fr;
}
.holder_title{
    grid-area: holder_title;
}
.holder_content{
    grid-area: holder_content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.holderContent{
    width: 45%;
    height: 85%;
    background-color:#313236;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.contents_holders{
    width: 89%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "addOne addOne"
                        "addTwo addTwo"
                        "addThree addThree"
                        "addSave addSave";
    grid-template-rows: 1fr 3fr 1fr 1fr;
}
.contOne{
    grid-area:addOne;
}
.contOne > input{
    width: 97%;
    border: none;
    padding:6px;
    border-radius: 10px;
}
.contTwo{
    grid-area:addTwo;
}
.contTwo > textarea{
  width: 99%; 
  height: 100%;
  border: none; 
  border-radius: 10px;
}
.contThree{
    grid-area:addThree;
    display: flex;
    align-items: center;
}
.contSave{
    grid-area:addSave;
    display: flex;
    align-items: center;
    justify-content: center;}

.contents_holders > input{
    border: none;
    width: 99%;
}
.contThree > #btn{
    border-radius: 10px;
    padding: 7px 10px;
    color: #27AE60;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid #27AE60;
    background-color: transparent;
}
.contThree > #btn:hover{
    font-size: 17px;
    color: white;
    background-color: #27AE60;
}
.contSave > button{
    font-size: 15px;
    border-radius: 10px;
    padding: 7px 10px;
    font-weight: bolder;
    color: white;
    border: 2px solid #27AE60;
    background-color: #27AE60;
}
.contSave button:hover{
    font-size: 17px;
    border: none;
    background-color: #068b3d;
} 
.adds_footer > .login_footer,.dash_footer> .login_footer{
    display: none;
    width: 100%;
}
.adds_footer {
    grid-area:adds_footer;
    display: flex;
    justify-content: center;
}
.adds_footer > .lie{
    width:90%;
    height:2px;
    background-color: #CDCDCE;
}
/* =================================================signup page============================================ */
#sigup{
    width:100%;
    height:100vh;
    /* background-color: brown; */
    display: grid;
}
/* ===============================================all blogs=============================================== */
#allblogs{
    width: 100%;
    height:100vh;
    /* background-color: brown; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "all_nav all_nav all_nav all_nav"
                         "all_content1 all_content1 all_content2 all_content2"  
                         "all_footer all_footer all_footer all_footer";
     grid-template-rows: 0.1fr 1fr 0.03fr;
}
.all_nav{
    /* background-color: fuchsia; */
    grid-area: all_nav;
    display: flex;
}
.all_nav > .blogs_nav{
    padding-left: 30px;
}

.all_content1{
    /* background-color: darkgoldenrod; */
    grid-area: all_content2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "contentall_1"
                         "contentall_2"  
                         "contentall_3"
                         "contentall_4";
     grid-template-rows: 1fr 1fr 1fr 1fr;
}
.contentall_1,.contentall_2,.contentall_3,.contentall_4{
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    grid-template-areas: "contents_1 content_para content_para"
                         "contents_2 contents_2 contents_2"  ;
     grid-template-rows: 1fr 0.112fr;
}
.allfoote_r{
    /* background-color: rgb(150, 143, 102); */
    grid-area: contents_2;  
    display: flex;
    justify-content: center;
}
.allfoote_r > .lu{
    width: 60%;
    height: 4px;
    background-color: #D9D9D9;
    border-radius:5px;
}
.content_para{
    width: 75%;
    /* background-color: rgb(37, 37, 34); */
    grid-area: content_para;
}
.content_s{
    /* background-color: gold; */
    grid-area: contents_1;
    display: grid;
    justify-content: center;
}
.contentall_1{
    /* background-color: cyan; */
    grid-area: contentall_1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "first first first first"  
                         "second second second second";
     grid-template-rows:1fr 0.3fr;
}
.first{
    /* background-color: rgb(96, 128, 23); */
    grid-area: first;
    font-size: 22px;
    font-weight: 600;
    margin:2%;
}
.second{
    /* background-color: rgb(31, 34, 32); */
    grid-area: second;
    display: flex;
    justify-content: center;
}
.sec{
    border-radius: 5px;
    width:90%;
    height:4px;
    background-color: #898B91;
}
.contentall_2{
    /* background-color: rgb(19, 223, 80); */
    grid-area: contentall_2;
}
.contentall_3{
    /* background-color: rgb(43, 46, 46); */
    grid-area: contentall_3;
}
.contentall_4{
    /* background-color: rgb(75, 13, 49); */
    grid-area: contentall_4;
}


.all_content2{
    /* background-color: darkgoldenrod; */
    grid-area: all_content2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "contentall1"
                         "contentall2"  
                         "contentall3"
                         "contentall4";
     grid-template-rows: 1fr 1fr 1fr 1fr;
}
.contentall1,.contentall2,.contentall3,.contentall4{
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    grid-template-areas: "contents1 contentpara contentpara"
                         "contents2 contents2 contents2"  ;
     grid-template-rows: 1fr 0.112fr;
}
.contentall1{
    /* background-color: cyan; */
    grid-area: contentall1;
}
#pcon{
    color: #E1E1E1;
    font-weight: 700;
    font-size: 20px;
}
.pbtn > button {
    background-color: transparent;
    color: #27AE60;
    font-weight: bolder;
    font-size: 20px;
    border: none;
}
.pbtn > button > a{
    color: #27AE60;
}

.pbtn{
    margin-top: 20px;
    /* background-color: #191D2B; */
    display: flex;
    justify-content: center;
}
.contentpara{
    width: 75%;
    /* background-color: rgb(37, 37, 34); */
    grid-area: contentpara;
}
.contents{
    /* background-color: gold; */
    grid-area: contents1;
    display: grid;
    justify-content: center;
}
.allfooter{
    /* background-color: rgb(53, 48, 21); */
    grid-area: contents2;  
    display: flex;
    justify-content: center;
}

.contentall2{
    /* background-color: rgb(111, 119, 119); */
    grid-area: contentall2;
}
.contentall3{
    /* background-color: rgb(16, 218, 49); */
    grid-area: contentall3;
}
.contentall4{
    /* background-color: rgb(95, 107, 53); */
    grid-area: contentall4;
}
.all_content1{
    /* background-color: rgb(99, 90, 67); */
    grid-area: all_content1;
}
.all_footer{
    /* background-color: rgb(28, 153, 76); */
    grid-area: all_footer;
}
.allfooter > .l{
    width: 60%;
    height: 4px;
    background-color: #D9D9D9;
    border-radius:5px;
}

/* ==========================baackup================= */
#backup{
    width: 100%;
    height:100vh;
    background-color: brown;
}
.image{
    position: relative;
    width: 400px;
}
.image__img{
    display: block;
    width: 100%;
}
.image__overlay{
    position: absolute;
    color:black;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: rgba(200, 200, 200, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image__overlay > *{
    transform: translateY(40px);
    transition: transform 0.25s;
}
.image__overlay:hover > *{
    transform: translateY(0px);
}
.image__overlay:hover{
    opacity:1;
}


.image__title{
font-size: 2em;
font-weight: bold;
}
.image__description{
    font-size: 1.25em;
}
/* ====================validation=========== */
.res_nav{
    height: 19px;
    width: 95%;
    color: red;
    /* background-color: saddlebrown; */
}

/* ==========================================sigup==================================== */
#sighup {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "login_nav login_nav "
                         "login_content login_content"
                         "login_footer login_footer";
    grid-template-rows: 0.1fr 1fr 0.1fr;
  }










