@media only screen and (max-width: 991px) {
    html {
      font-size: 56.25%;
    }
    header {
      padding: 2.2rem 5rem;
    }
  }


  @media only screen and (max-width: 767px) {
    html {
      font-size: 50%;
    }
  
    #ham-menu {
      display: block;
      color: #ffffff;
    }
  
    nav a#logo,
    #ham-menu {
      font-size: 3.2rem;
    }
    nav ul {
      background-color: black;
      position: fixed;
      left: -100vw;
      top: 73.6px;
      width: 100vw;
      height: calc(100vh - 73.6px);
      display: flex;
      flex-direction: column;
      z-index: 2;
      align-items: center;
      transition: 0.5s;
      gap: 2rem;
    }
  
  /* ==========================================home page========================================== */
  .home_profile{
    display: flex;
  }
  .terminal{
    display:none;
  }
  #home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav nav nav nav"
                         "replaced replaced replaced replaced";
    grid-template-rows: 0.1fr 1fr;
   }
   #home_nav {
    grid-area: nav;
    position: relative;
  }
  #replace{
    grid-area: replaced;
    display: grid;
    margin-left:1.5%;
    grid-template-columns: 1fr 1fr 0.3fr;
    grid-template-areas:"imgs imgs section3"
                        "section1 section1 section1"
                        "section4 section4 section4";
    grid-template-rows: 1fr 1fr 0.1fr;
  }
  .fa-terminal{
    display: none;
  }
  .section1{
    grid-area: section1;
    margin: 0% 0%;
    margin:0%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
                         "section1Head section1Head section1Head section1Head"
                         "descript descript descript descript"
                         "cv cv cv cv" 
    ;
    grid-template-rows: 1fr 1fr 0.6fr;
  }
  .section1Head{
    grid-area: section1Head;
  }
  .text{
    display:none;
    grid-area: text;
  }
  .descript{
    grid-area: descript;
  }
  .cvs{
    grid-area: cv;
    width: 100%;
    height:100px;
display: flex;
justify-content: center;
  }
  #cv{
    width: 320px;
    height: 80px;
    background-color: #2A2E35;
    border-radius:8px;
  }
  #downlod_button{
    color:#27AE60;
    font-weight:bolder;
    font-size:20px;
    padding: 4px 6px;
    border:2px solid #27AE60;
    background-color:#2A2A2A;
    border-radius:10px;
    margin-right:10px;
  }
  #downlod_button:hover{
    color:white;
    padding:10px 12px;
  }
  .section2{
    grid-area: imgs;
  }
  .section3{
  grid-area: section3;
  }
  .section4{
    grid-area: section4;
  }
  .descript_a>i{
font-size: 15px;
    } 
      /* ========================================end of home of home page========================= */
/* ======================================about section============================================ */
#about{
  height:70vh;
}
.about_image,.line{
  display:none;
}
.about_cont{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows: 0.2fr 1fr 0.1fr;
  height:70vh;
  grid-template-areas: "nav nav nav nav"
                       "content3 content3 content3 content3"
                       "footer footer footer footer";
  grid-gap: 0em;
}
.cont4{
  display: flex;
  justify-content: center;
  /* background-color: blue; */
}
.cont1 > h2{
  font-size: 25px;
}
#about_nav{
  grid-area:nav;
  /* background: green; */
  display:grid;
  align-items: center;
  font-size:45px;
  font-weight:bolder;
  color:#C4CFDE;
  position: relative;
  text-align: center;
}
.about_content{
  grid-area:content3;
}

.about_cont > .footer{
  grid-area:footer;
}
/* ==============================================end of about page====================================== */
/* =========================================skill section */
#skills{
  height:100vh;
  width:100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:0.2fr 1fr 0.1fr;
  grid-template-areas:"skills_nav skills_nav skills_nav skills_nav"
                      "skills_content skills_content skills_content skills_content"
                      "skills_footer skills_footer skills_footer skills_footer";
}
.skills_nav{
  /* background-color:hotpink; */
  grid-area:skills_nav;
  text-align:center;
  display: flex;
  justify-content: center;

}
.skills_content{
  /* background-color: peru; */
  grid-area:skills_content;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:"skill1 skill2"
                     "skill3 skill4"
                     "skill5 skill6"
                     "skill7 skill8";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 0% 0%;
  padding-left: 2%;
  align-items: center;
  
}
.img1{
  grid-area:skill1;
}
.img2{
  grid-area:skill2;
}
.img3{
  grid-area:skill3;
}
.img4{
  grid-area:skill4;
}
.img5{

  grid-area:skill5;
}
.img6{

  grid-area:skill6;
}
.img7{

  grid-area:skill7;
}
.img8{
  grid-area:skill8;
}
.skills_footer{
  /* background-color:blueviolet; */
  grid-area:skills_footer;
  text-align:center;
  display:grid;
  align-items: center;
}
.image__overlay{
  border-radius: 10px;
}

.skill {
  width:90%;
  height:70%;
  border: 6px solid #2A2E35;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.skill > img{
  width: 100%;
  height: 100%;
}
/* ==============================================end of skill section================================= */
/* ===========================================my prtfolio============================================= */
#portfolio{
  height: auto;
  /* background-color: green; */
  grid-template-rows:auto auto auto;
}
.port_content{
  grid-area:port_content;
  display: grid;
  grid-template-columns:1fr;
  grid-template-areas:"box1" "box2" "box3"
                      "box4" "box5" "box6";
  grid-template-rows:auto;
}
.boxed{
  background-color: #2A2E35;
  margin: 5px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ========================================end of portfolio section================================== */
/* ================================blog section============================================== */
#blogs{
  padding:10px 0px;
  height: auto;
  grid-template-rows: auto auto auto;
}
.blog_image{
  grid-area:image_blog;
  display: grid;
  grid-template-columns:1fr;
  text-align: center;
}
#blog_btn{
display:none;
}
.blogAll{
  margin: 7px 18px;
  border-radius: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #2A2E35;
}
.imaged{
  width:75%;
  height:85%;
}
.blog_content{
  grid-template-rows: auto auto;
}
.blog_button>a>button {
margin-bottom: 4px;
}
/* ===================================end of blog section======================================= */
/* ================================contact me page============================================ */
#contact{
  height: auto;
}
.contact_content{
  grid-template-areas:"contactform contactform"
                       "getin getin";
}
.form_container {
  height: 90%;
}
.get_title > #get_text{
 font-size: 15px;
}
.get_container {
  width: 98%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "get_tittle get_tittle get_tittle get_tittle"
                       "get_address get_address get_address get_address"
                       "get_address get_address get_address get_address";
  grid-template-rows: auto auto auto;
}
#contact {
  grid-template-rows: auto auto auto;
}
.blogs_nav > span{
  display: none;
}
#address_subtit {
  padding-bottom: 5px;
}
/* ==============================================end of contacct================================*/
/* ====================================login page======================================== */
#login{
  height: 80vh;
}
.login_form {
  width: 90%;
  height:70%;
}
.login_footer {
  font-size: 20px;
  padding: 2px 0px;
}
.login_form_cont {
  width: 100%;
}
/* ====================================end of login page==================================== */
/* ========================================scroll to top button==================== */
#scroll-to-top-btn {
  bottom: 10px;
  right: 10px;
  font-size: 40px;
}



}

  /* @media only screen and (max-width: 575px) {
    html {
      font-size: 46.87%;
    }
    header {
      padding: 2rem 3rem;
    }
    nav ul {
      top: 65.18px;
      height: calc(100vh - 65.18px);
    }
  } */



  /* Meeting ID: 831 7462 2727
  Passcode: 123 */
  /* https://us05web.zoom.us/j/83174622727?pwd=TEtSUDNpeXlUWEVHTGVPTUdmVWMvdz09 */