@media only screen and (max-width: 991px) {
    html {
      font-size: 56.25%;
    }
    header {
      padding: 2.2rem 5rem;
    }
  }


  @media only screen and (max-width: 767px) {
    html {
      font-size: 50%;
    }
  
    #ham-menu {
      display: block;
      color: #ffffff;
    }
  
    nav a#logo,
    #ham-menu {
      font-size: 3.2rem;
    }
    nav ul {
      background-color: black;
      position: fixed;
      left: -100vw;
      top: 73.6px;
      width: 100vw;
      height: calc(100vh - 73.6px);
      display: flex;
      flex-direction: column;
      z-index: 2;
      align-items: center;
      /* justify-content: space-around; */
      transition: 0.5s;
      gap: 2rem;
    }
  
  /* ==========================================home page========================================== */
  #login,#about,#skills,#portfolio,#contact,#blogs{
display:none;
  }
  #home{
    background-color: rgb(224, 115, 26);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav nav nav nav"
                         "replaced replaced replaced replaced";
    grid-template-rows: 0.1fr 1fr;
   }
   #home_nav {
    grid-area: nav;
    position: relative;
    background-color: #1ac298;
  }
  #replace{
    grid-area: replaced;
    background-color: rgb(211, 62, 62);
    display: grid;
    grid-template-columns: 1fr 0.7fr 0.11fr;
    grid-template-areas:"section1 section1 section1"
                        "section1 section1 section1"
                        "section4 section4 section4";
    grid-template-rows: 1fr 1fr 0.1fr;
  }
  .section1{
    /* display:none; */
    background-color: #3d1281;
    grid-area: section1;
    margin: 0%;
    /* padding: 3%; */
    margin:3% 3% 0% 3%;
    /* width: 95%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "section1Head section1Head section1Head section1Head"
                         "text text text text"
                         "descript descript descript descript"
                         "cv cv cv cv" 
    ;
    grid-template-rows: 0.8fr 1fr 1fr 0.3fr;
  }
  .section1Head{
    grid-area: section1Head;
    background-color: #474437;
  }
  .text{
    grid-area: text;
    background-color: #a9e20a;
  }
  .descript{
    grid-area: descript;
    background-color: #151830;
  }
  .cvs{
    grid-area: cv;
    background-color:brown;
    display: none;
    /* justify-content: center; */
  
  }
  #cv{
    width: 300px;
    height:100px;
    background-color: #13e251;
    border-radius:8px;
    /* margin-top: 22px; */
  }
  
  .section2{
    display:none;
  }
  .section3{
  display: none;
  }
  .section4{
    background-color: #e26b0a;
    grid-area: section4;
  }














  
  
  
  
  
  }


  @media only screen and (max-width: 575px) {
    html {
      font-size: 46.87%;
    }
    header {
      padding: 2rem 3rem;
    }
    nav ul {
      top: 65.18px;
      height: calc(100vh - 65.18px);
    }
  }










  /* Meeting ID: 831 7462 2727
  Passcode: 123 */
  /* https://us05web.zoom.us/j/83174622727?pwd=TEtSUDNpeXlUWEVHTGVPTUdmVWMvdz09 */